body {
    padding-top: 50px;
    padding-bottom: 50px;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #0074d9;
    border-radius: 10px;
    background-color: #f5f5f5;
}

.container-register {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    border: 2px solid #0074d9;
    border-radius: 10px;
    background-color: #f5f5f5;
}

.card {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-header {
    color: #fff;
}

.card-content {
    padding: 20px;
}

/* Estilos para el formulario */
.field {
    margin-bottom: 20px;
}

.label {
    font-weight: bold;
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input:focus {
    border-color: #0074d9;
    box-shadow: 0 0 5px rgba(0, 116, 217, 0.5);
}

.help.is-danger {
    color: #e74c3c;
}

/* Estilos para los botones */
.button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.button.is-primary {
    background: #0074d9;
    color: #fff;
}

.button.is-primary:hover {
    background: #0056b3;
}

.button.is-text {
    color: #0074d9;
    background: transparent;
}

.button.is-text:hover {
    text-decoration: underline;
}

/* Estilos para la notificación de error */
.notification.is-danger {
    background-color: #e74c3c;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

/* Estilos para la etiqueta de la tarjeta de título */
.card-header-title {
    font-weight: bold;
}

/* Estilos para el enlace de "¿Olvidaste tu contraseña?" */
.button.is-text {
    text-align: center;
}

.button.is-text:hover {
    text-decoration: underline;
}

/* Estilos específicos para dispositivos móviles */
@media screen and (max-width: 768px) {
    .card {
        border-radius: 0;
    }

    .card-header {
        border-radius: 0;
    }
}