<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <!--
    <div id="app">
        <div v-for="(actual, index) in productes">
            <img :src="'http://localhost:5501/laravel/public/' + actual.image" alt="" width="200" height="200">
            <br><br>
        </div>
-->

    <div v-if="mostrar('compra')" class="container-compra">
        <div class="compra">
            <div v-if="mostrar('compra')">
                <img class="logo" src="/img/presidis.png" @click="cambiarDiv('portada')">
                <div class="compra">
                    <img :src="'http://localhost:5501/laravel/public/' + actual.image" alt="" width="200" height="200">
                    <span class="d-producte">2023</span>
                    <h2 class="titol">Obras Maestras || El Cigala</h2>

                    <div class="product__addtocart">
                        <button @click="agregarAlCarro(index)"><img class="product__addtocart-icon" src="img/cart.jpg"
                               ></button>
                        <div class="product__addtocart-button">
                            <button class="product__addtocart-button__sumar">+</button>
                            <input class="product__adtocart-input__number" type="number" disabled value="1">
                            <button class="product__addtocart-button__restar">-</button>
                        </div>
                    </div>

                    <p class="desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus
                        accusamus velit exercitationem omnis veritatis aliquam, quidem soluta autem, in
                        repudiandae ipsam sint fuga numquam modi debitis! Dolore iure tempora sapiente.</p>
                    <img class="img-cart" src="/img/shopping-cart.png" width="50" height="50">
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="project.js" type="module"></script>
</body>

</html>