<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css" />
</head>


<body>
    <section class="section">
        <div class="container-general">
            <div id="app">
                <div v-if="mostrar('portada')">
                    <div class="grid-container">
                        <img class="logo" src="/img/presidis.png" alt="Trulli" />
                        <h1 class="portada">OFERTES DIARIES!!!</h1>

                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <div class="carousel-container">
                            <img class="carousel-image"
                                src="https://www.lacasadeldisco.es/34744-large_default/diego-el-cigala-vinilo-obras-maestras-vinilo-dorado.jpg"
                                alt="Image 1" />
                            <img class="carousel-image"
                                src="https://www.lacasadeldisco.es/664-large_default/camaron-de-la-isla-cd-el-legado-de-camaron.jpg"
                                alt="Image 2" style="display: none;" />
                            <img class="carousel-image"
                                src="https://www.lacasadeldisco.es/34094-large_default/post-malone-cd-austin.jpg"
                                alt="Image 3" style="display: none;" />
                        </div>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>
                        <button @click="cambiarDiv('tienda')">CATALEG</button>
                    </div>
                </div>

                <div v-if="mostrar('tienda')">
                    <img class="logo" src="/img/presidis.png" @click="cambiarDiv('portada')">
                    <div class="buscador">
                        <input type="text" v-model="search" placeholder="search..." />
                    </div>

                    <hr>

                    <li v-for="(disc, index) in filteredProducts" :key="index">
                        <div class="titul-artista" @click="cambiarDiv('compra')">
                            {{ disc.nombre}} || {{ disc.artista }} - {{disc.año}}
                        </div>
                    </li>
                </div>

                <div v-if="mostrar('compra')">
                    <div class="compra">
                        <div v-if="mostrar('compra')">
                            <img class="logo" src="/img/presidis.png" @click="cambiarDiv('portada')">
                            <div class="compra">
                                <img class="img-productes" src="" width="200" height="200">
                                <span class="d-producte">2023</span>
                                <h2 class="titol">Obras Maestras || El Cigala</h2>
                                <div class="compra-cantitat">
                                    <img class="img-carrito" src="/img/cart.jpg">
                                    <input type="button" value="-">
                                    <input type="text" id="cantitat" name="id1" value="0">
                                    <input type="button" value="+">
                                </div>

                                <p class="desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus
                                    accusamus velit exercitationem omnis veritatis aliquam, quidem soluta autem, in
                                    repudiandae ipsam sint fuga numquam modi debitis! Dolore iure tempora sapiente.</p>
                                <div class="compra-footer">
                                    <img src="" width="50" height="50">
                                    <img src="" width="50" height="50">
                                    <img src="" width="50" height="50">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <script src="project.js" type="module"></script>
</body>

</html>