<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <section class="section">
        <div class="container-general">
            <div id="app">
                <div v-if="mostrar('portada')">
                    <div class="grid-container">
                        <img src="/img/presidis.png" alt="Trulli" />
                        <button @click="cambiarDiv('tienda')">CATALEG</button>
                        <h1 class="portada">OFERTES DIARIES!!!</h1>
                      </div>
                </div>
                <div v-if="mostrar('tienda')">
                    <h1>tienda</h1>
                    <div class="buscador">
                        <input type="text" v-model="search" placeholder="search...">
                    </div>
                    <ul>
                        <li v-for="(disc, index) in productes" :key="index">
                            <div class="titul-artista" @click="cambiarDiv('compra')">
                                {{ disc.name}} || {{ disc.artist }}
                            </div>
                            <div class="any">
                                {{ disc.year }}
                            </div>
                            <div class="precio-product">
                                {{ disc.price }}
                            </div>
                            <div class="addToCart-fav">
                                <div class="button-addToCart">
                                    <button @click="cambiarDiv('carrito')">ADD TO CART</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div v-if="mostrar('compra')">
                    <div class="compra">
                        <img src="/img/presidis.png" @click="cambiarDiv('portada')">
                    </div>
                </div>

                <div v-if="mostrar('checkout')">
                    <h1>tienda</h1>
                </div>



            </div>
        </div>
        <footer>
            
            <div class="container-nav">

            </div>
        </footer>
    </section>
    <script src="project.js" type="module"></script>
</body>

</html>