.button-container {
    display: flex;
    background-color: rgb(107, 178, 248);
    width: 380px;
    height: 40px;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
          rgba(88, 203, 244, 0.5) 5px 10px 15px;
    position: fixed; /* Esto fija el contenedor en la parte superior de la página */
    bottom: 0;
    left: 2;
    padding-bottom: 5px;
  }
  
  .button {
    outline: 0 !important;
    border: 0 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
  }
  
  .button:hover {
    transform: translateY(-3px);
  }
  
  .icon {
    font-size: 20px;
  }