.logo{
  height: 150px;
  width: 250px;
}

button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}

.portada {
  background-color: black;
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.grid-container img {
  max-width: 100%;
}

.grid-container h1 {
  font-size: 30px;
  text-align: center;
}

.grid-container button {
  font-size: 15px;
  width: max-content;
  margin: auto;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
}


.carousel-container img{
  width: 250px;
  height: 300px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 40px; 
  height: 40px; 
  line-height: 40px; 
  margin-top: -20px; 
  padding: 8px;
  color: white;
  font-size: 24px; 
  user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.6s ease;
  border-radius: 50%; 
  text-align: center;
  text-decoration: none;
}

.next {
  right: 0;
  left: auto;
}

.carousel-image.active {
  display: block;
}

.compra {
  display: grid;
}

.compra>* {
  margin: auto;
  margin-top: 10px;
}
/*FOOTER*/
footer{
  background-color: #000;
  color: #fff;
  margin-top: auto;
}

.icon {
  width: 20px;
  height: 20px;
  margin: 0; 
}


